<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form action = <%= users_url %> method = "post" >
   <input type="hidden" name="authenticity_token" value = "<%=form_authenticity_token%>" method = "post">

  <label for="email" value = "email">
  <input type="text" name="user[email]" placeholder="email">
  <label for="password" value = "password">
  <input type="password" name="user[password]" placeholder="password">
  <input type="Submit">

</form>
