<h1> Hi <%= @user.email%> so happy to see you today!</h1>

<img src="http://www.fuzzytoday.com/wp-content/uploads/2014/05/PIbKpeE.jpg" alt="happy after bar!">

<input id="sign_out" type="submit" value="sign_out">
<p> bye bye, you have logged out see you next time </p>
